.DS_Store
/node_modules/

# React Router
/.react-router/
/build/
/.env
/.idea/inspectionProfiles/Project_Default.xml
/.idea/aws.xml
/.idea/bys_ui.iml
/.idea/jsLibraryMappings.xml
/.idea/modules.xml
/.idea/prettier.xml
/.idea/vcs.xml
*.xml
